.products-list {
    display: flex;
    gap: 16px;
    color: white;
}
.products-list > li {
    list-style-type: none;
    border-style: groove;
    border-width: 1px;
    border-color: blueviolet;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 2px 2px 2px 1px blue;
    color: white;
}

h1{
    color: white;
}
li{

    color: white;
}

body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}
