button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-left: 65px;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;

}

::placeholder{
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: black;
}








